.container_landing{
    background-color: lavender;
    margin: 2rem;
    padding: 0rem 25rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}
