.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.7rem;
    width: 100%;
    font-size: x-large;
    background-color: #f8f3c0;
    color: white;
    color: #271818;
}
/*c0f5f8*/
.right{
    display: flex;
}
.btns{
    display: flex;
    margin-right: 7rem;
    margin-left: 1rem;
}
.btns button{
    background-color: #f8f3c0;
    color: black;
    font-size: large;
    margin: 0 0.5rem;
    border: none;
}
.search{
    height: 2.3rem;
    width: 17rem;
    border-radius: 0.5rem;
    border: 2px solid #481620;
}
.link{
    text-decoration: none;
    color: #481620;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-top: 2px;
    margin-left: 100px;
    padding: 0;
    overflow: hidden;
    background-color:#f8f3c0;
}

li {
    float: left;
    margin-right: 2rem;
}

li a, .dropbtn {
    display: inline-block;
    color: #481620;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li span{
    display: inline-block;
    color: #481620;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li span:hover{
    background-color: #481620;
    color: white;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #481620;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    border-radius: 0.5rem;
    background-color: #481620;
    font-size: large;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content span {
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_content span:hover {
    background-color: #524043;
    border-radius: 0.5rem;
}

.dropdown:hover .dropdown_content {
    display: block;
}